.tempalte6{

    width: 600px;
    min-height: 835px;
    padding: 40px 40px 0 40px ;

    box-shadow: #959da533 0px 8px 24px;;
    background: #fff;
  

   
    &.en{
        direction: ltr;
        text-align:left;
        font-family: 'Roboto', sans-serif !important;
    }
    
    &.ar{
        margin-left: 6px;
        text-align: right;
        direction: rtl;
        .tem6-body .tb6-r{
            margin-left: 0;
            margin-right:20px;
        }
      
   
    }
    .tem6-head{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-bottom: 20px;
        margin-bottom:20px;
        border-bottom: 1px solid #BEB29A;
    }
    .t6-r{
        h3{
            color: #637AA5 ;
            text-transform: capitalize;
            font-weight: 400;
        }
        span{
            color: #BEB29A;
        }

    }
    .t6-m{
        width: 130px;
        height: 130px;
        border-radius: 50%;
        overflow: hidden;
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    .t6-l{
        ul{
            li{
                color: #637AA5;
                font-size:13px
            }
        }
    }

    .tem6-body{
        display: flex;
        justify-content: space-between;
        margin-bottom: 20px;
      .tb6-l{
          width: 35%;
      }  
      .tb6-r{
        width: 62%;
        margin-left: 20px;
      }
    }
    .t6-title{
        margin-bottom: 10px;
        h5{
            color: #394159;
            font-weight: 400;
            font-size:18px
        }
    }
    .t6-about{
        margin-bottom: 20px;
        p{
            margin-bottom: 10px;
            color: #637AA5;
            font-size: 12px;
        }
    }

    .t6-skill{
        margin-bottom:15px ;
        span{
            color: #637AA5;
            font-size: 13px;
            margin-bottom: 7px;
            display: inline-block;
        }
        ul{
            display: flex;
            li{
                margin-right: 5px;
                border-radius: 50%;
                width: 12px;
                height: 12px;
                background: #F1ECDB;
                &.active{
                    background: #637AA5;
                }
            }
        }
    }

    .t6-soft{
        ul{
            li{
                margin-bottom: 7px;
                font-size: 13px;
                color: #637AA5;
            }
        }
    }
.tm6-t{
    margin-top: 20px;
}
.t6-ex{
    margin-bottom: 10px;
    span{
        font-size: 13px;
        color: #637AA5;
    }
    p{
        font-size: 13px;
        color: #637AA5;
    }

}
.tem6-foot{

    display: flex;
    align-items: center;
    .t6-title{
        margin: 0;
    }
    .t6-skill{
        margin: 0 10px;
        transform: scale(.7);
    }
}
.bar-l{
    // height:;
    // margin: auto;
    width: 1px;
    background: #BEB29A;
    position: relative;
    &::after{
        content: " ";
        width: 13px;
        height: 13px;
        background:#BEB29A;
        display: block;
        position:absolute;
        border-radius: 50%;
        top: 0;
        left: -6.5px;
        // transform: translateX(-50%);
    }
    &::before{
        content: " ";
        width: 13px;
        height: 13px;
        background:#BEB29A;
        display: block;
        position:absolute;
        border-radius: 50%;
        bottom: 0;
        left: -6.5px;
        // transform: translateX(-50%);
    }
    
}
}