.top-nav {
  padding: 10px;
  background: #1f242a;
}
.top-nav-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.list-info {
  display: flex;
  align-items: center;
  li {
    a {
      color: #fff;
      // font-size: 14px;
      span {
        font-size: 13px;
        &:nth-child(2) {
          margin-inline-start: 10px;
        }
      }
      svg {
        margin: 0 5px;
      }
    }
  }
}
.sg {
  span:nth-of-type(1) {
    font-size: 13px;
    color: #8595aa;
  }
  span:nth-of-type(2) {
    font-size: 13px;
    color: #222;
  }
}
.social-links {
  display: flex;
  align-items: center;
  li {
    margin-right: 20px;
    a {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 30px;
      height: 30px;
      color: #fff;
      border: 1px solid #888a8b;
      border-radius: 50%;
    }
  }
}
.header-logo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 0;
}
.h-logo {
  a {
    img {
      width: 50px;
    }
  }
}
.form-b {
  input {
    width: 300px;
    height: 40px;
    border: 1px solid #40a3af;
    border-radius: 5px;
    padding: 0 10px;
  }
  button{
    border: 0;
    background-color: $main-color;
    color: #fff;
    font-weight: 600;
    padding:7px 10px;
    height: 40px;
    border-radius: 5px;
    margin-inline-start:10px;
  }
}
.h-links {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex: 1;
  ul {
    display: flex;
    align-items: center;
    li {
      a {
        color: #222;
        margin: 0px .5vw;
        font-size: 14px;
      }
      &.active {
        a {
          color: $main-color;
          border-bottom: 2px solid $main-color;
          display: inline-block;
          padding-bottom: 4px;
        }
      }
    }
  }
}

.slider-head {
  background-image: url(../../img/newimg/back-h.png);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  margin-inline-start: -20px;
}
.new-ing {
  // text-align: center;
}
.new-info {
  padding-top: 50px;
  h2 {
    color: #d28f87;
    font-weight: 600;
    margin-bottom: 30px;
  }
}
.h-sub-button {
    display: flex;
    gap: 5px;
  .btn-login {
    background: $main-color;
    padding: 8px 18px;
    color: #fff;
    border-radius: 25px;
    font-size: 13px;
    font-weight: 600;
    &.active{
        border: 1px solid $main-color;
        background-color: transparent;
        color: $main-color ;
    }
  }
}
.responsive-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  background: #ffffff33;
  display: none;
  .burger {
    svg {
      width: 20px;
      height: 20px;
      color: $main-color;
    }
  }
}
.item-drops {
  .dropdown-toggle::after {
    display: none;
  }
}
.img-r {
  width: 40px;
  height: 40px;
  cursor: pointer;
  img {
    border: 1px solid #fff;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
  }
}

.drop-f {
  .dropdown-item {
    padding: 8px 12px;
    display: flex;
    span {
      padding: 0 8px;
      color: #8595aa;
    }
  }
}
// start slider
.item-slider {
  // height: 500px;
  border-radius: 10px;
  overflow: hidden;
  img {
    object-fit: cover;
    border-radius: 10px;
  }
}
.owl-dots {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0px;
  button {
    span {
      border: 1px solid #d28f87;
      background: #fff !important;
      display: block;
      width: 20px !important;
      height: 20px !important;
    }
    &:focus {
      outline: 0;
    }
    &.active {
      span {
        border: 1px solid #fff;
        background: #d28f87 !important;
        box-shadow: #d28f87 0px 0px 0px 1px;
      }
    }
  }
}
// end slider
// start aabout-us
.about-us {
  margin: 60px 0;
}
.about-text {
  .main-title {
    margin-top: 30px;
  }
  h3 {
    font-weight: bold;
    font-size: 23px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  p {
    font-size: 14px;
    margin-bottom: 30px;
    color: #8595aa;
  }
  a {
    background: #7aa93c;
    padding: 8px 35px;
    color: #fff;
    border-radius: 25px;
    font-size: 13px;
    font-weight: 600;
    display: inline-block;
  }
}
.main-title {
  display: inline-block;
  background: #f1f6eb;
  padding: 3px 14px;
  border-radius: 10px;
  font-size: 14px;
  color: $main-color;
  font-weight: 600;
}
// end about-us
// start s-template
.s-template {
  padding: 40px 0;
  background: #f8f9f6;
  overflow: hidden;
  .t-head {
    text-align: center;
    h2 {
      margin: 10px 0 20px 0;
      font-weight: 600;
      font-size: 20px;
    }
  }
}
// end s-template
.item-grid {
  position: relative;
  img {
    object-fit: cover;
  }
  &:hover {
    .item-hover {
      opacity: 1;
    }
  }
  .item-hover {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #7aa93ca3;
    top: 0;
    left: 0;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: all 0.4s;
    opacity: 0;

    h3 {
      color: #fff;
      font-size: 16px;
      margin-top: 50px;
      margin: 40px 30px 0 30px;
      transition: all 0.4s;
      font-weight: bold;
    }
  }
  &:hover {
  }
}
.i-hover {
  margin: 0px 30px 20px 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: all 0.4s;

  a {
    border-radius: 20px;
    display: inline-block;
    background: #f95353;
    padding: 7px 15px;
    color: #fff;
    font-weight: 600;
    font-size: 12px;
    transition: all 0.4s;
  }
  span {
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    transition: all 0.4s;
  }
}
.c-span {
  position: absolute;
  right: 30px;
  border-radius: 0 0 10px 10px;
  display: inline-block;
  background: #f95353;
  padding: 7px 15px;
  color: #fff;
  font-weight: 600;
  font-size: 12px;
  transition: all 0.4s;
}
.h25 {
  margin-bottom: 30px;
  img {
    height: 180px;
    border-radius: 10px;
    object-fit: cover;
    width: 100%;
  }
}
.h35 {
  margin-bottom: 30px;
  img {
    height: 285px;
    border-radius: 10px;
    object-fit: cover;
    width: 100%;
  }
}
// start contact-us
.contact {
  background: #fff;
  padding: 40px 0;
  .t-head {
    span {
    }
    h2 {
      font-size: 20px;
      margin: 10px 0 20px 0;
      font-weight: 600;
    }
  }
}
.cont-item {
  display: flex;

  align-items: center;
  padding-bottom: 20px;
  margin-bottom: 40px;
  border-bottom: 1px solid #dfdfdf;
  &:last-child {
    border: 0 !important;
  }
  & > span {
    margin-left: 10px;
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #f1f6eb;
    border-radius: 50%;
    svg {
      color: $main-color;
      font-size: 23px;
    }
  }
}
.con-info {
  margin-right: 10px;
  h6 {
    color: #222;
    font-size: 15px;
    margin-bottom: 10px;
  }
  span {
    font-size: 14px;
    color: #8595aa;
    font-weight: 600;
  }
}

.f-input {
  margin-bottom: 20px;
  input,
  select
   {
    width: 100%;
    height: 40px;
    background: #fff;
    border: 1px solid #fff;
    padding: 0 10px;
    border-radius: 8px;
    font-size: 13px;
    ::placeholder {
      font-size: 13px;
      color: #8595aa;
    }
  }
  textarea {
    width: 100%;
    background: #fff;
    border: 1px solid #fff;
    border-radius: 8px;
    padding: 10px;
    min-height: 80px;
  }
}
.contact-us {
  background: #fbfcf9;
  padding: 20px;
  border-radius: 10px;
}
.more {
  display: block;
  width: 120px;
  height: 40px;
  background: $main-color;
  color: #fff;
  text-align: center;
  line-height: 40px;
  border-radius: 25px;
}
footer {
  padding: 15px 0;
  background: #1f242a;
  .item-foot {
    flex-wrap: wrap;
    display: flex;
    align-items: center;
    justify-content: space-between;
    h6 {
      color: #fff;
      font-size: 14px;
      span{
        color: #FF8E00;
      }
    }
    span {
      font-size: 12px;
      color: #fff;
    }
  }
}

@media (min-width: 1200px) {
  // .container {
  //     max-width: 1370px;
  // }
}

.main-card {
  margin: 30px 0;
}
.mc-title {
  h2 {
    text-align: center;
    font-weight: 600;
    color: $color;
    margin-bottom: 30px;
  }
  h5 {
    text-align: center;
    font-weight: 600;
    color: $color;
    margin-bottom: 30px;
    font-size: 16px;
  }
}
.item-card-n {
  background-color: #40a3af;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 10px;
}
.ict-head {
  margin-bottom: 15px;
  position: relative;
  ul{
    position: absolute;
    top: 10px;
    padding: 0 10px;
    width: 100%;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    li{
      span{
        width: 30px;
        height: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid #EA4C62;
        border-radius: 50%;
        font-size: 12px;
        color: #EA4C62;
        font-weight: 600;
      }
    }
  }
  img {
    width: 100%;
    border-radius: 10px;
    height: 120px;
    object-fit: cover;
  }
}

.heart{
  cursor: pointer;
  position: relative;
  display: block;
  img{
    width: 20px !important;
    height: 25px;
    position: absolute;
    border-radius: 0;
    object-fit: contain;
    left: 0;
    top: -14px;
  }
  .img2{
    visibility: hidden;
    opacity: 0;
    transition: all .2s;
  }
  input:checked ~ .img2{
    visibility: visible;
    opacity: 1;
  }

}




.ict-label {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  & > span {
    display: block;
    color: #fff;
    width: 80px;
    font-size: 14px;
    font-weight: 600;
  }
  .value-t {
    background-color: #fff;
    padding: 3px 10px;
    flex: 1;
    border-radius: 5px;
    span {
      font-size: 14px;
    }
  }
  .befor {
    color: #878787;
    display: inline-block;
    margin: 0 10px;
    position: relative;
    &::after {
      content: " ";
      display: block;
      position: absolute;
      width: 100%;
      height: 1.4px;
      background-color: #c91717;
      top: 50%;
      transform: translateY(-50%);
    }
  }
}

.to-box {
  display: flex;
  gap: 10px;
  .ict-label {
    flex: 1;
  }
}
.star {
  display: flex;

  img {
    width: 15px !important;
    height: 15px;
    margin-inline-start: 7px;
  }
}
.more-dit {
  margin-top: 10px;
  a {
    display: block;
    padding: 15px;
    background-color: #f8f036;
    text-align: center;
    font-weight: 600;
    color: #40a3af;
    border-radius: 25px;
  }
}

.owl-slide2 {
  // .owl-carousel .owl-stage-outer{
  //     height: 35vw;
  //     .content-baner{
  //         height: 35vw;
  //         img{
  //             height: 100%;
  //         }
  //     }
  // }

  .owl-nav {
    button {
      width: 50px;
      height: 50px;
      background: #f8f036 !important;
      border-radius: 50% !important;
      display: flex;
      align-items: center;
      justify-content: center;
      svg {
        color: #40a3af;
      }
      // zoom: .7;
    }
  }
  .owl-prev {
    position: absolute;
    top: 50%;
    left: -30px;
    transform: translateY(-50%);
    i {
    }
    img {
      width: 100%;
      height: 100%;
    }
  }
  .owl-next {
    position: absolute;
    top: 50%;
    right: -30px;
    transform: translateY(-50%);
    img {
      width: 100%;
      height: 100%;
    }
  }
}

// graph
.graph {
  margin: 30px;
}

.item-graph {
  text-align: center;
  background: #40a3af;
  width: 180px;
  height: 180px;
  padding: 10px;
  border-radius: 50%;
  margin: auto;
  margin-bottom: 20px;
  img {
    width: 70px;
    height: 70px;
  }
  h3 {
    color: #fff;
  }
}
// graph

.joker-item {
  border: 3px solid #40a3af;
  padding: 15px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  gap: 15px;
  margin-bottom: 20px;
  .j-profile {
    img{
    border-radius: 50%;
    width: 130px;
    height: 130px;
    display: block;
    object-fit: cover;
  }
}
  .ji-info {
    h3{
        font-weight: 600;
        color: #0D4E8F;
        margin-bottom: 20px;
    }
    p{
        margin-bottom: 10px;
    }
    a {
      background-color: #4fb19d;
      padding: 10px 16px;
      display: inline-flex;
      align-items: center;
      border-radius: 20px;
      -webkit-box-shadow: -3px 6px 0px 0px rgba(0, 0, 0, 0.75);
      -moz-box-shadow: -3px 6px 0px 0px rgba(0, 0, 0, 0.75);
      box-shadow: -3px 6px 0px 0px rgba(0, 0, 0, 0.75);
      span {
        font-weight: 500;
        color: #fff;
      }
      img {
        margin-inline-start: 10px;
        
      }
    }
  }
}


.subscrp{
    margin: 40px 0;
    padding-top: 40px ;
    background-image: url(../../img/newimg/back-2.png);
    background-position: center center;
    background-size: cover;
    .subscrp-info{
        h1{
            color: #fff;
            margin-bottom: 50px;
            margin-top: 20px;
            span{
                font-weight: 600;
            }
        }
        form{
            gap: 15px;
            display: flex;
            align-items: center;
            input{
                background-color: #04415B;
                height: 50px;
                flex: 1;
                border: 0;
                padding: 0 20px;
                border-radius: 30px;
                &::placeholder{
                    color: #fff;
                }
            }
            button{
                border-radius: 30px;
                background-color: #4FB19D;
                padding: 10px 30px;
                color: #fff;
                border: 0;
                font-weight: 600;
            }
        }
    }   
    .subscrp-img{
        text-align: center;
    }
}


.pay-now{
    background: #FF2A2A;
    color: #fff !important;
    border: 1px solid #FF2A2A !important;
}

.comments{
    h3{
        font-weight: 600;
        color: $color;
        margin-bottom: 20px;
    }
}
.ic-prof{
    display: flex;
    align-items: center;
    gap: 10px;
    img{
        border-radius: 50%;
        width: 50px;
        object-fit: cover;
        height: 50px;
    }
    span{
        font-weight: 500;
    }
}
.ic-rate{
    display: flex;
    align-items: center;
    gap: 10px;
    ul{
        display: flex;
        // align-items:center;
    }
}
.foot-top{
    margin-top: 30px;
    padding: 40px 0;

    background: #1F242A;
    border-bottom: 1px solid #fff;
}

.f-logo{
    text-align: center;
}
.ft-m{
    h4{
        // text-align: center;
        color: #fff;
        margin-bottom: 10px;
    }
    p{
        color: #AAB5BC  ;
        margin-bottom: 10px;
    }
    input{
        display: block;
        height: 40px;
        border: 0;
        border-radius: 5px;
        padding: 0 10px;
        width: 100%;
        
    }
    ul{
        display: flex;
        gap: 10px;
    }
}

.foot-bot{
    // margin-top: 30px;
    padding: 40px 0;
    background: #1F242A;
    // border-bottom: 1px solid #fff;
    p{
        font-size: 13px;
        color: #fff;
    }
    ul{
        li{
            margin-bottom: 20px;
            a{
                font-size: 14px;
                color: #fff;
            }
        }
    }
}
.fbl-h{
    border-bottom:1px solid #fff ;
    margin-bottom: 20px;

    h5{
        font-size: 16px;
        font-weight: 600;
        color: #fff;
    padding-bottom: 10px;
    }
}

.gap-1{
  gap: 10px;
}
.modal1{
  .close-button{
    padding:0 10px;
    display: flex;
    justify-content: end;
    button{
      opacity: 1;
      img{
        width: 15px;
      }
    }
  }
}

.box-lang{
  width: 250px;
  margin: auto;
  h6{
    font-weight: 500;
    font-size: 16px;
    margin-bottom: 10px;
  }
}
.box-label{
  label{
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px;
    margin-bottom: 20px;
    border: 1px solid $main-color;
    border-radius: 20px;
    span{
      font-size: 13px;
    }
    input{
      accent-color: $main-color;
    }

  }
}
.item-foot-button{

  .gr.next{
    background-color: #09DE32;
  }
  .re.next{
    background-color: #FF1703;
  }
}
.list-r{
  ul{
    display: flex;
    gap: 5x;
    align-items: center;
    height: 40px;
    background: #fff;
    border: 1px solid $main-color;
    padding: 0 8px;
    border-radius: 8px;

    li{
      margin:  0 2px;
    }
  }
}
.bill.item-has-upload{
  padding: 15px;
  border-radius: 10px;
  border: 1px solid $main-color;
  img{
    object-fit: contain;
  }
}

.top-lab{
  display: flex;
  align-items: center;
  justify-content: space-between;
  span{
    font-size: 13px;
  }
}
.img-h{
  &>label,
  .bill{
    
    height: 250px !important;
  }
}

.complback{
  background-color: #40A3AF;
  padding: 30px 0;
  .l-input label{
    color: #fff;
  }
  .l-input input, .l-input select,
  .l-input textarea{
    color: #fff;
    border: 1px solid #fff;
    background-color: transparent;
    &::placeholder{
      color: #fff;
    }
  }
  .item-foot-button .next{
    background-color: #fff;
    color: $main-color;
  }
  .list-opt label span{
    border:1px solid #fff ;
    color: #fff;
  }
  .item-check{
    input{
      border: 1px solid #fff;
      background-color: transparent;
    }
    span{
      color: #fff;
    }
  }
  .list-opt label input:checked ~ span{
    background-color: #fff;
    color: $main-color;
  }
}

